<module xmlns="urn:jboss:module:1.3" name="org.infinispan.commons" slot="ispn-9.1">
    <resources>
        <resource-root path="infinispan-commons.jar"/>
        <!-- Insert resources here -->
    </resources>

    <dependencies>
        <module name="javax.api"/>
        <module name="javax.transaction.api"/>
        <module name="com.github.ben-manes.caffeine" slot="ispn-9.1"/>
        <module name="org.jboss.logging"/>
        <module name="org.jboss.marshalling" slot="ispn-9.1" services="import"/>
        <module name="sun.jdk"/>

        <!-- task model should be visible to Infinispan commons module in order to marshall the model-->
        <!-- default marshaller require it -->
        <module name="it.redhat.demo.taskmodel"/>
    </dependencies>
</module>
