<?xml version="1.0" encoding="UTF-8"?>

<module xmlns="urn:jboss:module:1.3" name="it.redhat.demo.taskmodel">
    <resources>
        <resource-root path="task-model-1.0-SNAPSHOT.jar" />
    </resources>

    <dependencies>

        <!-- in order to use protostream marshaller too -->
        <!-- we have to add this dependency on client (JBoss) model module -->
        <module name="org.infinispan.protostream" slot="ispn-9.1" />
    </dependencies>
</module>
